@media (max-width: 768px) {
    
    body {
        background-image: url('../images/bg-mobile.svg'); 
        background-size: 100% 45%;
        background-repeat: no-repeat;
        background-position: top center; 
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    /* Cabeçalho */
    .header {
        min-height: auto;
    }
    
    .header img {
        width: 130px;
        margin: 25px;
    }

    /* Conteúdo Principal */
    .main {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 10px 30px;
        gap: 30px;
    }

    .main figure img {
        max-width: 300px; 
        width: 100%;
    }

    .main .landing-description {
        gap: 15px;
        align-items: center;
        text-align: center;
        max-width: 100%;
        padding: 0;
    }

    .main .landing-description h1 {
        font-size: 2.4rem;
    }

    .main .landing-description p {
        font-size: 1.5rem;
    }

    .main .landing-description button {
        width: 90%;
        max-width: 280px;
        padding: 12px 0;
        font-size: 1.4rem;
    }

    /* Rodapé */
    .footer {
        height: auto;
        justify-content: center;
        margin-right: 0;
        padding: 25px 0;
    }
}